.card{
  margin-left: 30px;
  margin-right: 30px;
}

.bg-img{
  min-height: 80vh;
 width: 100%;
 background: url('../../../src/assets/admindb-bg.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 }