<form (ngSubmit)='adminDashboard()'>
<body class="bg-img">
    <div class="container d-flex justify-content-center">
        <div class="d-flex flex-column justify-content-between">
            <div class="card mt-3 p-5">
                <div>
                    <p class="mb-1" style="padding-left: 45px;">Welcome Back!!</p>
                </div>
                <p class="btn btn-primary btn-lg" style="color:white;"><b>Admin Login</b></p>
            </div>
            <div class="card two bg-white px-5 py-4 mb-3">
                <div class="form-group"><input name="email" type="email" class="form-control" id="mail" required [(ngModel)]="admin.email"><label
                        class="form-control-placeholder" for="mail">Email</label></div>

                <div class="form-group"><input name="password" type="password" class="form-control" id="password" required [(ngModel)]="admin.password"><label
                        class="form-control-placeholder" for="password">Password</label></div>

                <button class="btn btn-primary btn-block btn-lg mt-1 mb-2"><span>Login<i
                            class="fas fa-long-arrow-alt-right ml-2"></i></span></button>

            </div>
        </div>
    </div>
</body>
</form>