<nav class="navbar navbar-expand-sm bg-secondary navbar-dark ">
    <span class="navbar-text">
        Vehicle Loan
    </span>
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['aboutUs']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['emiCalculator']">EMI Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['appForm1']">New User?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['applyLoan']">Apply Loan</a>
      </li>
    </ul>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
  
