<div class="container" style="border: black 1px; background-color: white;">
  <div class="jumbotron"
    style=" margin-top: 10px; background-image: url('../assets/image5.jpg'); background-repeat: no-repeat; background-size: cover">
    <h1>Employment Details!</h1>
    <p>Please Fill Your Employment Details</p>
  </div>
  <table class="table table-default">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal" (ngSubmit)="save2()" #addForm="ngForm">

            <div class="form-group">
              <label class="col-md-4 control-label">Type of Employment</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <select name="typeOfEmployment" class="form-control" [(ngModel)]="employ.employmentType" required>
                    <option selected>Salaried</option>
                    <option>Self Employed</option>
                    <option>Self Employed Professional</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label"> Annual Salary : ₹ {{ salary}} lakhs</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">

                  <input #salarySelector name="salary" type="range" min="1.0" max="50.0"
                    (change)="setSalary(salarySelector.value)" value="1" />

                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Existing EMI (₹)</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <input id="emi" name="emi" placeholder="EMI" [(ngModel)]="employ.existingEmi" class="form-control"
                    value="" type="number" required pattern="[0-9]{1,}" #emi='ngModel' />
                </div>
                <span *ngIf="emi.touched && emi.invalid" class="alert-danger">
                  Invalid EMI value!
                </span>
              </div>
            </div>

            <div class="col-md-8 inputGroupContainer">
              <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 30px;"
                [disabled]="!addForm.valid">Next Page</button>
            </div>

          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>