<div class="container" style="border: black 1px; background-color: white;">
  <div class="jumbotron"
    style=" margin-top: 10px; background-image: url('../assets/image5.jpg'); background-repeat: no-repeat; background-size: cover">
    <h1>Employment Details!</h1>
    <p class="font-weight-bold " style="color: white;  font-size: larger;"> Please Fill Your Employment Details</p>
  </div>
  <table class="table table-default">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal" (ngSubmit)="save()" #addForm="ngForm">

            <div class="form-group">
              <label class="col-md-4 control-label">Type of Employment</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <select name="typeOfEmployment" class="form-control" [(ngModel)]="employ.employmentType" required>
                    <option selected>Salaried</option>
                    <option>Self Employed</option>
                    <option>Self Employed Professional</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Annual Income (₹)</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <input id="annualIncome" name="annualIncome" placeholder="Annual Income" [(ngModel)]="employ.annualIncome" class="form-control"
                    value="" type="number" required pattern="^([3-9][0-9]{5,}|[1-9][0-9]{6,})$" #annual='ngModel' min="300000" step="10000"/>
                </div>
                <span *ngIf="annual.touched && annual.invalid" class="alert-danger">
                  Invalid annual income.
                  Annual income should be more than 3 lakh.
                </span>
              </div>
            </div>
            

            <div class="form-group">
              <label class="col-md-4 control-label">Existing EMI (₹)</label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <input id="emi" name="emi" placeholder="EMI" [(ngModel)]="employ.existingEmi" class="form-control"
                    value="" type="number" required pattern="[0-9]{1,}" step="1000" #emi='ngModel' />
                </div>
                <span *ngIf="emi.touched && emi.invalid" class="alert-danger">
                  Invalid EMI value!
                </span>
              </div>
            </div>

            <div class="col-md-8 inputGroupContainer">
              <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 30px;"
                [disabled]="!addForm.valid">Next Page</button>
            </div>

          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>