<div class="container" style="border: black 1px; background-color: white;">
    <div class="jumbotron"
        style=" margin-top: 10px; background-image: url('../assets/image1.jpg'); background-repeat: no-repeat; background-size:cover">
        <h1>Apply Loan!</h1>
        <p> Please Fill Your Details here </p>
    </div>
    <table class="table table-default">
        <tbody>
            <tr>
                <td colspan="1">
                    <form class="well form-horizontal" (ngSubmit)="checkEligibility()" #addForm="ngForm">

                        <div class="form-group">
                            <p style="text-decoration: underline; font-size: 25px; margin-top: 20px;"> Vehicle
                                Details </p>
                            <label class="col-md-4 control-label"> Vehicle Type <i class="fa fa-car"
                                    style="font-size:18px;color:green"></i></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <select name="vehicleType" class="form-control" [(ngModel)]="eligible.vehicleType"
                                        required (change)="changeMake($event.target.value)">
                                        <option>Car</option>
                                        <option>Bike</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Vehicle Make <i class="fa fa-car"
                                    style="font-size:18px;color:green"></i></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <select name="carMake" class="form-control" id="sel1"
                                        [(ngModel)]="eligible.vehicleMake" required
                                        (change)="changeModel($event.target.value)">
                                        <option *ngFor="let mk of make">{{mk}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Vehicle Model <i class="fa fa-car"
                                    style="font-size:18px;color:green"></i></label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <select name="carModel" class="form-control" id="sel2"
                                        [(ngModel)]="eligible.vehicleModel" required
                                        (change)="changePrice($event.target.value)">
                                        <option *ngFor="let mode of model">{{mode}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Ex-Showroom Price (₹)</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <select id="price" name="price" [(ngModel)]="eligible.exShowroomPrice"
                                        class="form-control">
                                        <option *ngFor="let ex of exPrice">{{ex}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">On Road Price (₹)</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <select id="onRoadPrice" name="onRoadPrice" [(ngModel)]="eligible.onRoadPrice"
                                        class="form-control">
                                        <option *ngFor="let on of onRoadPrice">{{on}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Applicant Details-->
                        <div class="form-group">
                            <p style="text-decoration: underline; font-size: 25px; margin-top: 50px;">Applicant Details
                            </p>
                            <label for="Name" class="col-sm-3 control-label">Name</label>
                            <div class="col-md-8 inputGroupContainer">
                                <input name="Name" [(ngModel)]="eligible.name" type="text" id="Name" placeholder="Name"
                                    class="form-control" required pattern="[A-Z][A-Z, ,a-z]{2,}" #name='ngModel'>
                                <span *ngIf="name.touched && name.invalid" class="alert-danger">
                                    Name is invalid!
                                    First letter should be capital.
                                    Length should be minimum of 3 characters.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="age" class="col-sm-3 control-label">Age </label>
                            <div class="col-md-8 inputGroupContainer">
                                <input type="number" id="age" placeholder="Age" class="form-control" name="age"
                                    [(ngModel)]="eligible.age" required pattern="[1-9][0-9]{1}" min="22" #age='ngModel'>
                                <span *ngIf="age.touched && age.invalid" class="alert-danger">
                                    Invalid Age.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="col-sm-3 control-label">Gender </label>
                            <div class="col-md-8 inputGroupContainer">
                                <select name="gender" class="form-control" [(ngModel)]="eligible.gender" required>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employment" class="col-sm-3 control-label">Type Of Employment </label>
                            <div class="col-md-8 inputGroupContainer">
                                <select name="employment" class="form-control" [(ngModel)]="eligible.employmentType"
                                    required>
                                    <option>Salaried</option>
                                    <option>Self Employed</option>
                                    <option>Self Employed Professional</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="salary" class="col-sm-3 control-label">Yearly Salary (₹)</label>
                            <div class="col-md-8 inputGroupContainer">
                                <input id="income" name="income" placeholder="Annual Income" [(ngModel)]="eligible.annualIncome"
                                class="form-control" value="" type="number" required pattern="[0-9]{1,}"
                                #income='ngModel' />
                            <span *ngIf="income.touched && income.invalid" class="alert-danger">
                                Invalid Annual Income.
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="emi" class="col-sm-3 control-label">Existing EMI (₹)</label>
                            <div class="col-md-8 inputGroupContainer">
                                <input id="emi" name="emi" placeholder="EMI" [(ngModel)]="eligible.emi"
                                    class="form-control" value="" type="number" required pattern="[0-9]{1,}"
                                    #emi='ngModel' />
                                <span *ngIf="emi.touched && emi.invalid" class="alert-danger">
                                    Invalid EMI value!
                                </span>
                            </div>
                        </div>

                        <!-- Contact Details-->
                        <div class="form-group">
                            <p style="text-decoration: underline; font-size: 25px; margin-top: 50px;">Contact Details
                            </p>
                            <label for="mobileNumber" class="col-sm-3 control-label">Mobile number </label>
                            <div class="col-md-8 inputGroupContainer">
                                <input name="mobileNumber" [(ngModel)]=eligible.mobileNo type="text" id="mobileNumber"
                                    placeholder="Mobile number" required pattern="[6-9][0-9]{9}" class="form-control"
                                    #mobile='ngModel'>
                                <span *ngIf="mobile.touched && mobile.invalid" class="alert-danger">
                                    Invalid Mobile number!
                                    Enter correct 10 digit mobile number.
                                </span>
                                <span class="help-block">Your mobile number won't be disclosed anywhere </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Email </label>
                            <div class="col-md-8 inputGroupContainer">
                                <input type="email" id="email" placeholder="Email" class="form-control" name="email"
                                    [(ngModel)]="eligible.email" required
                                    pattern="[A-Za-z0-9.]+@[a-z0-9.]+\.[A-Za-z]{2,4}$" #email='ngModel'>
                                <span *ngIf="email.touched && email.invalid" class="alert-danger">
                                    Invalid Email Id!
                                </span>
                            </div>
                        </div>

                        <!-- Check Eligibility-->
                        <div class="col-md-8 inputGroupContainer">
                            <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 30px;"
                                [disabled]="!addForm.valid">Check Eligibility</button>
                        </div>

                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>