<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<div class="container" style="border: black 1px; background-color: white;">
  <div class="jumbotron"
    style=" margin-top: 10px; color:white; background-image: url('../assets/image8.jpg'); background-repeat: no-repeat; background-size: cover;">
    <h1>Identity Details</h1>
    <p>Please Fill Your Identity Details below</p>
  </div>
  <table class="table table-default">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal" (ngSubmit)="onUpload()" #addForm="ngForm">

            <div class="form-group">
              <label class="col-md-4 control-label">Aadhar Card <i class="fa fa-address-card"
                  style="font-size:18px;color:green"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <input id="aadhaar" name="aadhaar" placeholder="Aadhaar Number" [(ngModel)]="identity.aadhaarNo"
                    class="form-control" type="number" required pattern="[0-9][0-9]{11}" #aadhaar='ngModel' /> </div>
                <span *ngIf="aadhaar.touched && aadhaar.invalid" class="alert-danger">
                  Enter 12 digit Aadhaar number!
                </span>
                <div class="default-file-upload" style="margin-top: 20px;">
                  <input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-md"
                    accept=".pdf, .jpg,.jpeg" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Pan Card <i class="fa fa-address-card"
                  style="font-size:18px;color:green"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="input-group">
                  <input id="pan" name="pan" placeholder="Pan Number" [(ngModel)]="identity.panNo" class="form-control"
                    type="text" required pattern="[A-Z][A-Z]{4}[0-9]{4}[A-Z]{1}" #pan='ngModel' /> </div>
                <span *ngIf="pan.touched && pan.invalid" class="alert-danger">
                  Invalid Pan number!
                  Enter pan number in the correct 10 digit format.
                  (Ex:- EQDFP1254T)
                </span>

                <div class="default-file-upload" style="margin-top: 20px;">
                  <input input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-md"
                    accept=".pdf, .jpg,.jpeg" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Photo <i class="fa fa-user"
                  style="font-size:18px;color:green"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="default-file-upload">
                  <input input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-md"
                    accept=".pdf, .jpg,.jpeg" />
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="col-md-4 control-label">Monthly salary slip <i class="fa fa-list"
                  style="font-size:18px;color:green"></i></label>
              <div class="col-md-8 inputGroupContainer">
                <div class="default-file-upload">
                  <input input type="file" id="uploadedFile" name="uploadedFile" class="form-control form-control-md"
                    accept=".pdf, .jpg,.jpeg" />
                </div>
              </div>
            </div>


            <div class="col-md-8 inputGroupContainer">
              <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 20px;"
                [disabled]="!addForm.valid">Submit For Approval!</button>
            </div>

          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>