



   
  
   
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
  <div class="jumbotron">
    <h1>Identity  Details</h1>
    <p>Please Fill Your Identity Details below</p>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal">
            <fieldset>
              <!-- ------------------------- -->
             
              <!-- --------------------------------------------------------------------- -->
              <div class="form-group">
                <label class="col-md-4 control-label">Aadhar Card  <i class="fa fa-address-card" style="font-size:18px;color:green"></i></label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                   
                        <div class="custom-file">
                          <input type="file" (change)="onFileSelected($event)" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                     

                    
                   
                  </div>
                </div>
              </div>
              <!-- --------------------------------------------------- -->

              <div class="form-group">
                <label class="col-md-4 control-label">Pan Card  <i class="fa fa-address-card" style="font-size:18px;color:green"></i></label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                   
                        <div class="custom-file">
                          <input type="file" (change)="onFileSelected($event)" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                     

                    
                   
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label class="col-md-4 control-label">Photo <i class="fa fa-user" style="font-size:18px;color:green"></i></label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                   
                        <div class="custom-file">
                          <input type="file" (change)="onFileSelected($event)" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                     

                    
                   
                  </div>
                </div>
              </div>



              <div class="form-group">
                <label class="col-md-4 control-label">Monthly salary slip <i class="fa fa-list" style="font-size:18px;color:green"></i></label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">

                   
                        <div class="custom-file">
                          <input type="file" (change)="onFileSelected($event)" class="custom-file-input" id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                     

                    
                   
                  </div>
                </div>
              </div>

              
              

           


          
            
              
             

            
             








              <button type="submit" (click)="onUpload" class="btn btn-primary mb-2">Submit</button>
            </fieldset>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>



