<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" />
<!-- Accordion START -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Welcome &nbsp;{{ uname }}</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" [routerLink]="['/userDashboard']">Profile</a>
                <a class="dropdown-item" [routerLink]="['/user']">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<div class="panel-group" id="accordion">
    <div class="panel panel-default" style="margin-bottom:50px;">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseOne">
            <h4 class="panel-title"><b>Personal Details</b></h4>

        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>User ID</td>
                            <td>{{ user.userId }}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <td>Email ID</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>{{ user.age }}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{ user.gender }}</td>
                        </tr>
                        <tr>
                            <td>Contact No</td>
                            <td>{{ user.mobileNo }}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{ user.address }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{ user.city }}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{ user.state }}</td>
                        </tr>
                        <tr>
                            <td>Pincode</td>
                            <td>{{ user.pincode }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-bottom:50px;">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseTwo">
            <h4 class="panel-title"><b>Loan Status</b></h4>

        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Loan ID</td>
                            <td>{{ loan.loanId }}</td>
                        </tr>
                        <tr>
                            <td>Loan Amount</td>
                            <td>₹ {{ loan.loanAmount }}</td>
                        </tr>
                        <tr>
                            <td>Loan Tenure</td>
                            <td>{{ loan.tenure }} years</td>
                        </tr>
                        <tr>
                            <td>Interest Rate</td>
                            <td>{{ loan.interestRate }} %</td>
                        </tr>
                        <tr>
                            <td colspan="2">Your Loan Application Status is <b>{{ loan.loanStatus }}.</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseThree">
            <h4 class="panel-title"><b>EMI Scheduler</b></h4>

        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                EMI Scheduler will come here.
            </div>
        </div>
    </div>
</div>