<head>
  <title>Home</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- ElegantFonts CSS -->
  <link rel="stylesheet" href="../assets/css/elegant-fonts.css">

  <!-- themify-icons CSS -->
  <link rel="stylesheet" href="../assets/css/themify-icons.css">

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="../assets/css/swiper.min.css">

  <!-- Styles -->
  <link rel="stylesheet" href="../assets/style.css">

  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body class="bg-img">
  <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">

        <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
          <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">
            It is about your dreams
          </h1>
          <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0" style="color: black;">
            We act as a mediator between you and your dreams.As the name suggests ride along,
            we ride you along the path to fulfill your dream of buying a vehicle.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="../assets/image9.jpg" />
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
            Minimum documentation
          </h2>
          <p class="text-base leading-relaxed mt-2" style="color: black;">
            We provide online vehicle loan to salaried & self-employed individuals in India with minimal documentation
          </p>

        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="../assets/image10.jpg" />
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
            'All weather' Friend
          </h2>
          <p class="text-base leading-relaxed mt-2" style="color: black;">
            Personal loans can be huge reassurance in times of adhoc financial crunch. It can be your ‘all weather’
            friend to serve all your purposes and leave your savings untouched.
          </p>

        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="../assets/image11.jpg" />
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
            No Collateral
          </h2>
          <p class="text-base leading-relaxed mt-2" style="color: black;">
            Get your vehicle loan without any collateral or security from us.
          </p>

        </div>
      </div>
    </div>
  </section>

  <div class="about-testimonial">
    <div class="container">
      <header class="entry-header">
        <h2 class="entry-title" style="color: orangered; text-decoration: underline;">Meet our team</h2>
      </header><!-- .entry-header -->

      <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
          <div class="testimonial-cont">
            <div class="entry-content">
              <p>Money isn't everything but everything needs money.</p>
            </div>

            <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
              <img src="../assets/photo1.jpg" alt="">

              <h4 style="color: black;">Abhinav Singh, <span>Team Leader</span></h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <div class="testimonial-cont">
            <div class="entry-content">
              <p>Customer satisfaction is most important for any organisation to survive in the market.</p>
            </div>

            <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
              <img src="../assets/photo2.jpg" alt="">

              <h4 style="color: black;">Rahul Kumar, <span>Developer</span></h4>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <div class="testimonial-cont">
            <div class="entry-content">
              <p>Timely return of a loan makes it easier to borrow loan for a second time.</p>
            </div>

            <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
              <img src="../assets/photo3.jpg" alt="">

              <h4 style="color: black;">Yugandhara, <span>Developer</span></h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>