<link
  href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
  rel="stylesheet"
/>

<section class="text-gray-700 body-font" style="border: 2px solid black; background-color: rgba(26, 0, 75, 0.1);">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1
          class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0"
        >
         It is about your dreams
        </h1>
        <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">
          We act as a mediator between you and your dreams.As the name suggests ride along,
          we ride you along the path to fulfill your dream of buying a vehicle.
        </p>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img
            alt="content"
            class="object-cover object-center h-full w-full"
            src="../assets/image9.jpg"
          />
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
         Minimum documentation
        </h2>
        <p class="text-base leading-relaxed mt-2">
          We provide online vehicle loan to salaried & self-employed individuals in India with minimal documentation
        </p>
        
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img
            alt="content"
            class="object-cover object-center h-full w-full"
            src="../assets/image10.jpg"
          />
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
          'All weather' Friend
        </h2>
        <p class="text-base leading-relaxed mt-2">
          Personal loans can be huge reassurance in times of adhoc financial crunch. It can be your ‘all weather’ friend to serve all your purposes and leave your savings untouched. 
        </p>
        
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img
            alt="content"
            class="object-cover object-center h-full w-full"
            src="../assets/image11.jpg"
          />
        </div>
        <h2 class="text-xl font-medium title-font text-gray-900 mt-5">
          No Collateral
        </h2>
        <p class="text-base leading-relaxed mt-2">
          Get your vehicle loan without any collateral or security from us.
        </p>
       
      </div>
    </div>
  </div>


</section>
