<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container">
  <div class="jumbotron">
    <h1>Vehicle Details</h1>
    <p>Please Fill Your Vehicle Details below</p>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal">
            <fieldset>
              <!-- ------------------------- -->

              <!-- --------------------------------------------------------------------- -->
              <div class="form-group">
                <label class="col-md-4 control-label">Car Make <i class="fa fa-car"
                    style="font-size:18px;color:green"></i></label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <select name="carMake" class="form-control" id="sel1">
                      <option value="0">Hero MotoCorp Ltd</option>
                      <option value="1">Maruti Suzuki</option>
                      <option value="2">Tata Motors</option>
                      <option value="3">Bajaj Auto Limited</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- --------------------------------------------------- -->

              <div class="form-group">
                <label class="col-md-4 control-label">Car Model <i class="fa fa-car"
                    style="font-size:18px;color:green"></i></label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <select name="carModel" class="form-control" id="sel2">
                      <option>Maruti</option>
                      <option>Honda</option>
                      <option>Tata</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label">Exshowroom Price<i class="fa fa-inr"
                    style="font-size:25px;color:red"></i></label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"></span><input id="price" name="price" placeholder="Price in Rupees"
                      class="form-control" required="true" value="" type="number" />
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary mb-2" (click)="save3()">Submit</button>
            </fieldset>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>